@if (form) {
	<div>
		<button (click)="addBank()" type="button"
                [ngClass]="darkThemeBtnClasses + lightThemeBtnClasses "
				class="px-2 py-1 my-2 text-sm font-medium text-center inline-flex items-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:bg-gray-50 dark:hover:text-black dark:focus:ring-white dark:focus:ring-2">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
				<path fill-rule="evenodd"
					  d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
					  clip-rule="evenodd"/>
			</svg>
			Add Bank
		</button>
	</div>
	<div [formGroup]="form">
		<ng-container formArrayName="bank">
			@for (bank of bankControls.controls; track bank; let i = $index) {
				<div [formGroupName]="i" class="grid md:gap-6 mb-6 md:grid-cols-3 items-center">
					<app-control-container errorMsg="Account Name is a required field" label="Account Name"
										   name="account_name">
						<input id="account_name" formControlName="account_name" type="text"
							   placeholder="Type Account Name"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
					</app-control-container>

					<app-control-container errorMsg="Bank name is a required field" label="Bank name"
										   name="bank_name">
						<input id="bank_name" formControlName="bank_name" type="text"
							   placeholder="Type Bank name"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
					</app-control-container>

					<app-control-container errorMsg="Branch name is a required field" label="Branch name"
										   name="branch_name">
						<input id="branch_name" formControlName="branch_name" type="text"
							   placeholder="Type Account Name"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
					</app-control-container>

					<app-control-container errorMsg="Account number is a required field" label="Account number"
										   name="account_number">
						<input id="account_number" formControlName="account_number" type="text"
							   placeholder="Type Account number"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
					</app-control-container>

					<app-control-container errorMsg="IFSC code is a required field" label="IFSC code"
										   name="ifsc_code">
						<input id="ifsc_code" formControlName="ifsc_code" type="text"
							   placeholder="Type IFSC code"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
					</app-control-container>

					<button (click)="removeBank(i)" type="button"
                            [ngClass]="darkThemeBtnClasses + lightThemeBtnClasses "
							class="md:h-10 md:w-10 px-3 py-1 mt-2 text-sm font-medium text-center flex items-center justify-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-white dark:focus:ring-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
							<path fill-rule="evenodd"
								  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
								  clip-rule="evenodd"/>
						</svg>
						{{ isMobileDevice ? 'Delete Bank' : '' }}
					</button>
				</div>
			}
		</ng-container>
	</div>
}
