<form (ngSubmit)="create()" [formGroup]="form" *ngIf="form">
	<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
		<ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
			data-tabs-toggle="#default-styled-tab-content"
			data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
			data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
			role="tablist">
			<li class="me-2" role="presentation">
				<button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab"
						data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile"
						aria-selected="false">Profile
				</button>
			</li>
			<li class="me-2" role="presentation">
				<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
						id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab"
						aria-controls="dashboard" aria-selected="false">Addresses
				</button>
			</li>
			<li class="me-2" role="presentation">
				<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
						id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab"
						aria-controls="settings" aria-selected="false">Banks
				</button>
			</li>
			<li role="presentation">
				<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
						id="contacts-styled-tab" data-tabs-target="#styled-contacts" type="button" role="tab"
						aria-controls="contacts" aria-selected="false">Educational Details
				</button>
			</li>
		</ul>
	</div>
	<div id="default-styled-tab-content">
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel"
			 aria-labelledby="profile-tab">

			<app-user-notification-channel [form]="form" label="Send Activation Link">
			</app-user-notification-channel>
			<div class="grid md:gap-6 mb-6 md:grid-cols-4">

				<app-control-container
									   errorMsg="Customer type is required field" label="Customer Type" name="role_id">
					<app-user-role-dropdown [formControl]="$any(form).controls['role_id']"
											id="customer-detail-user-type"></app-user-role-dropdown>
				</app-control-container>

				<app-control-container label="Name" name="name" errorMsg="Employee Name is Required">
					<input id="name" formControlName="name" type="text"
						   placeholder="John Smith"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>

				<app-control-container label="Name" name="display_name" errorMsg="Display Name is Required">
					<input id="display_name" formControlName="display_name" type="text"
						   placeholder="Johny"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container label="Email" name="email" errorMsg="Email is Required">
					<input id="email" formControlName="email" type="email"
						   placeholder="Johny@xyz.com"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container label="Mobile Number" name="mobile_number" errorMsg="Mobile Number is Required">
					<input id="mobile_number" formControlName="mobile_number" type="number"
						   placeholder="+91 0000-0000-00"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container label="Phone Number" name="phone_number" errorMsg="Phone Number is Required">
					<input id="phone_number" formControlName="phone_number" type="number"
						   placeholder="0000-0000-00" pattern="/^[789]\d{9}$/" [maxlength]="10"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container label="Date of birth" name="date_of_birth" errorMsg="Date of birth is Required">
					<div class="relative">
						<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
							<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
								 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
								<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
							</svg>
						</div>
						<input id="date_of_birth" formControlName="date_of_birth" type="datetime-local"
							   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							   placeholder="Select date">
					</div>
				</app-control-container>
				<app-control-container label="Pan Card / Tax Number" name="date_of_birth" errorMsg="Tax number is Required">
					<input id="tax_number" formControlName="tax_number" type="text"
						   placeholder="eg:ABCD1234A"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container label="Aadhaar Number" errorMsg="Tax number is Required"
									   name="unique_identification_number">
					<input id="unique_identification_number" formControlName="unique_identification_number" type="text"
						   placeholder="Type aadhaar number"
						   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</app-control-container>
				<app-control-container errorMsg="Gender is a required field" label="Gender" name="gender">
					<select id="countries" formControlName="gender"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
						@for (gender of genderList; track genderList) {
							<option>{{ gender }}</option>
						}
					</select>
				</app-control-container>
			</div>

		</div>
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel"
			 aria-labelledby="dashboard-tab">
			<div class="addressArray">
				<app-address *ngIf="form" [form]="form"></app-address>
			</div>
		</div>
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel"
			 aria-labelledby="settings-tab">
			<div class="addressArray">
				<app-bank *ngIf="form" [form]="form"></app-bank>
			</div>
		</div>
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-contacts" role="tabpanel"
			 aria-labelledby="contacts-tab">
			<p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong
					class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking
				another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control
				the content visibility and styling.</p>
		</div>
	</div>

	<div class="my-2">
		<app-save-btn [isOnPopup]="true" [isSaving]="isCreating"
					  id="log-in-button"
					  saveText="Create" savingText="Creating..."></app-save-btn>
	</div>
</form>

