<div class="relative">
    <input
            type="text"
            [(ngModel)]="searchQuery"
            (input)="filterOptions()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer"
            [placeholder]="placeholder"
            (focus)="showDropdown = true"
            (blur)="hideDropdown()"
    />
    @if (showDropdown && filteredOptions.length > 0) {
        <div
                class="absolute left-0 right-0 mt-1 bg-white border border-gray-300 rounded-lg shadow-lg max-h-48 overflow-y-auto z-10 dark:bg-gray-700 dark:border-gray-600 cursor-pointer">

            @switch (templateType()) {
                @case ('Employee') {
                    @for (option of filteredOptions; track option.id) {
                        <app-user-badge (mousedown)="selectOption(option)" [user]="option" [isInDropDown]="true"
                                        [size]="COMPONENT_SIZES.DROPDOWN_PROFILE_IMAGES"
                                        [isVisibleOriginalName]="true"></app-user-badge>
                    }
                }
                @default {
                    @for (option of filteredOptions; track option) {
                        <div (mousedown)="selectOption(option)"
                             class="px-4 py-2 cursor-pointer hover:bg-blue-500 hover:text-white dark:text-white">
                            {{ option }}
                        </div>
                    }
                }
            }
        </div>
    }
</div>
