<div class="flex gap-2 justify-between">
    @if (roles.length > 0) {
        <app-searchable-dropdown
                [options]="roles" templateType="Roles"
                displayField="name" [defaultSelection]="roles[0]?.display_name"
                placeholder="Select Role"
                (selectionChange)="onRoleChange($event)" (filterChange)="filterChange($event)">
        </app-searchable-dropdown>
    }
    <app-create-role-popup (savePopup)="roleCreated($event)"></app-create-role-popup>
</div>
<hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
<div class="flex flex-wrap">
    <div class="flex flex-col text-sm font-medium rounded-lg" [ngClass]="isMobileDevice ? 'w-full' : ''">
        @for (module of filteredPermissionOfRole; track module.moduleName) {
            <button aria-current="true" type="button" (click)="getModulePermissions(module.moduleName)"
                    [ngClass]=" darkThemeBtnClasses + lightThemeBtnClasses + (selectedModuleName === module.moduleName ? ' bg-pink-600 dark:bg-pink-600' : '')"
                    class="px-4 py-2 my-0.5 text-center font-medium rtl:text-right border-b border-gray-200 rounded-lg cursor-pointer focus:outline-none dark:border-gray-600">
                {{ module.moduleName }}
            </button>
        }
    </div>
    <div class="grow">
        <div class="flex justify-end m-2">
            <app-save-btn [isOnPopup]="true" [isSaving]="isSavingPermissions"
                          id="save-permission-button" (saveBtnClick)="syncRolePermission()"
                          saveText="Save" savingText="Saving..."></app-save-btn>
        </div>
        <div class="permissions flex align-middle" [ngClass]="isMobileDevice ? 'flex-wrap gap-4' : 'justify-around'">
            @for (permission of selectedModulePermission; track permission.name) {
                <div>
                    <input [id]="permission.name" (change)="onPermissionChange(permission, $event)"
                           [ngModel]="permission.hasPermission"
                           type="checkbox"
                           class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    {{ permission.display_name }}
                </div>
            }
        </div>
    </div>
</div>