<div class="relative">
    <input
            [(ngModel)]="value"
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500 cursor-pointer"
            [placeholder]="placeholder()"
            [readonly]="true"
            (focus)="showDropdown = true"
            (blur)="hideDropdown()"
    />
    @if (showDropdown) {
        <div
                class="absolute left-0 right-0 mt-1 bg-white border border-gray-300 rounded-lg shadow-lg max-h-48 overflow-y-auto z-10 dark:bg-gray-700 dark:border-gray-600 cursor-pointer">

            @for (option of options; track option) {
                <div (mousedown)="onValueChange(option)"
                     class="px-4 py-2 cursor-pointer hover:bg-pink-500 hover:text-white dark:text-white">
                    {{ option.display_name }}
                </div>
            }
        </div>
    }
</div>
