<div data-popover [id]="id()" role="tooltip"
     class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <div class="p-3">
        <div class="flex items-center justify-between mb-2">
            <a href="#">
                <!--                <img class="w-10 h-10 rounded-full"-->
                <!--                     src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"-->
                <!--                     alt="Jese Leos">-->
                <app-user-badge [user]="user()" [size]="COMPONENT_SIZES.MEDIUM"
                                [isVisibleOriginalName]="true"></app-user-badge>
            </a>
            <div>
                <button type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Follow
                </button>
            </div>
        </div>
        <p class="text-base font-semibold leading-none text-gray-900 dark:text-white">
            <a href="#">{{ user().name }}</a>
        </p>
        <p class="mb-3 text-sm font-normal">
            <a [href]="'mailto:' + user().email" class="hover:underline">{{ user().email }}</a>
        </p>
        <p class="mb-4 text-sm text-wrap">Open-source contributor. Building
            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">flowbite.com</a>.
        </p>
        <ul class="flex text-sm">
            <li class="me-2">
                <a href="#" class="hover:underline">
                    <span class="font-semibold text-gray-900 dark:text-white">799</span>
                    <span>Following</span>
                </a>
            </li>
            <li>
                <a href="#" class="hover:underline">
                    <span class="font-semibold text-gray-900 dark:text-white">3,758</span>
                    <span>Followers</span>
                </a>
            </li>
        </ul>
    </div>
</div>
