<app-tabs slot="vertical-content" [tabsArr]="accountSettingTabs" [isHorizontalTabs]="false" [showIcon]="true" (currentTab)="setCurrentTab($event)">
    <div vertical-content [ngClass]="isMobileDevice ? 'w-[23rem]' : ''">
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="business_setting" role="tabpanel"
             aria-labelledby="business_setting-tab">
            <div class="addressArray">
                Profile Business Settings
            </div>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="roles_and_permission" role="tabpanel"
             aria-labelledby="roles_and_permission-tab">
            <div class="addressArray">
                <app-roles-and-permission></app-roles-and-permission>
            </div>
        </div>
        <div class="hidden p-1 rounded-lg bg-gray-50 dark:bg-gray-800" id="department-list" role="tabpanel"
             aria-labelledby="department-list-tab">
            <div class="departmentListArray">
               <app-department-list/>
            </div>
        </div>
    </div>
</app-tabs>