@if (!isLabelOnSameLine){
		<label [ngClass]="{ required: status && !control.disabled }" class="form-label">
			{{ label }}
		</label>
		<!--	<app-tooltip [target]="name" [tooltipText]="tooltipText" *ngIf="name && tooltipText && !control.disabled"></app-tooltip>-->

}
<div [ngClass]="isLabelOnSameLine ? 'margin-top-control-label' : 'mt-1'" class="mb-3">
	<ng-content></ng-content>
	<!-- For Checkbox like Control label is next to control this template render only for that case	-->
		<label *ngIf="isLabelOnSameLine" [ngClass]="{ required: status && !control.disabled }" class="form-label ms-2">
			{{ label }}
		</label>
<!--		<app-tooltip [target]="name" [tooltipText]="tooltipText" *ngIf="name && tooltipText && !control.disabled"></app-tooltip>-->
	@if (control.errors){
		<ng-container>
			<app-error [displayError]="
                control.invalid &&
                control.touched &&
                control.errors &&
                control.errors['required']
            " [errorMsg]="errorMsg">
			</app-error>
		</ng-container>
	}
</div>
