<nav aria-label="Page navigation example" class="w-full bg-white dark:bg-gray-800 rounded-b-[1rem] shadow-md shadow-gray-400 dark:shadow-none p-1">
    <ul class="flex justify-end text-sm flex-grow">
        <!-- Previous button -->
        <li>
            <a (click)="currentPage > 1 && setPage(currentPage - 1)"
               class="flex items-center justify-center px-3 h-8 ms-0 leading-tight rounded-bl-lg
          text-gray-500 bg-white border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-600 dark:text-white dark:hover:bg-gray-600 cursor-pointer dark:bg-gray-800 hover:rounded-md"
               [ngClass]="{'cursor-not-allowed text-gray-300 bg-gray-100 border-gray-200 hover:bg-gray-100 hover:text-gray-300': currentPage === 1,
                            'cursor-pointer': currentPage != 1}">
                Previous
            </a>
        </li>

        <!-- Page numbers -->
        @for (page of pages; track page; let i = $index) {
            <li>
                <a (click)="setPage(startPage + i)"
                   [ngClass]="{'active': currentPage === startPage + i}"
                   class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white dark:border-gray-600 hover:bg-gray-100 hover:rounded-md
               dark:text-white dark:hover:bg-gray-600 cursor-pointer dark:bg-gray-800">
                    {{ startPage + i }}
                </a>
            </li>
        }

        <!-- Next button -->
        <li>
            <a (click)="setPage(currentPage + 1)"
               class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-600 dark:text-white dark:hover:bg-gray-600 cursor-pointer dark:bg-gray-800 hover:rounded-md">
                Next
            </a>
        </li>
    </ul>
</nav>
