<nav class="bg-blue-200 dark:bg-gray-500 dark:text-white">
	<div class="mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-12 items-center justify-end">
			<div class="flex items-center gap-2">
				<div class="user-dropdown">
					<label id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
						   class="py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 cursor-pointer dark:bg-gray-500 dark:text-white">
						<img class="w-8 h-auto rounded-full dark:border-2"
							 src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"
							 alt="Maria">
						<span class="text-gray-600 dark:text-white font-medium truncate max-w-[7.5rem]">Maria</span>
						<svg class="transform transition-transform duration-200 w-4 h-4 peer-checked:rotate-180"
							 xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="m6 9 6 6 6-6"/>
						</svg>
					</label>

					<!-- Dropdown menu -->
					<div id="dropdownDivider"
						 class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
						<ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
							aria-labelledby="dropdownDividerButton">
							<li>
								<button class="px-4 py-2 w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600
								dark:text-gray-200 dark:hover:text-white hover:rounded">Settings
								</button>
							</li>
							<li>
								<button class="px-4 py-2 w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600
								dark:text-gray-200 dark:hover:text-white hover:rounded">SMS
								</button>
							</li>
						</ul>
						<div>
							<button (click)="logout()" class="px-4 py-2 w-full text-sm hover:bg-gray-100 dark:hover:bg-gray-600
								dark:text-gray-200 dark:hover:text-white hover:rounded">Log Out
							</button>
						</div>
					</div>
				</div>
				<div class="notification-btn">
					<button type="button"
							class="text-amber-700 bg-white dark:text-white dark:bg-gray-500 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-3xl md:text-4xl p-1.5"
							data-drawer-target="notification-drawer" data-drawer-show="notification-drawer"
							data-drawer-placement="right" aria-controls="notification-drawer">
						<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
							 aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round"
								  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
						</svg>
					</button>

					<!-- drawer component -->
					<div id="notification-drawer"
						 class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800"
						 tabindex="-1" aria-labelledby="drawer-right-label">
						<h5 id="drawer-right-label"
							class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
							<svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
								 fill="currentColor" viewBox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							Right drawer
						</h5>
						<button type="button" data-drawer-hide="notification-drawer" aria-controls="notification-drawer"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
								 viewBox="0 0 14 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
									  stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
							<span class="sr-only">Close menu</span>
						</button>
					</div>
				</div>
				<div class="toggle-theme">
					<app-toggle-theme></app-toggle-theme>
				</div>
			</div>
		</div>
	</div>
</nav>
